* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.register-container {
    width: 400px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
}

.register-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.register-form label {
    display: block;
}

.register-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form input:focus {
    border-color: #007bff;
    outline: none;
}